<!DOCTYPE html>
<html>
<head>
<style>
 body{
    background: url(../../assets/img/bna\ e\ banking.jpg);
  background-repeat: no-repeat;
  background-size: 1500px 657px;
 }


.block {
 
 width: 20%;
 background-color:#6BC697;
 color:white;
}</style>

</head>
<body>
    
   
      
  
    
<div class="container">
    <br><br><br><br> <br> <br> <br><br><br><br> <br> <br> <br><br><br><br> <br> <br><br><br><br><br> 
    <div class="row">
        <div class="col-5"></div>
        
        <button type="submit" class="btn btn-primary block" (click)="login()">login</button>  
    </div>
</div>

</body>
</html>
