

<head>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
       
        .block {
 
            width: 20%;
            background-color:#6BC697;
            color:white;
        }
       
        p{
            color:#6BC697;
            font-size: 30px;
        }




    </style>

</head>
<body>
  <div class="container">
<form>
   <br> <br> <br> <br>
   <p>Votre virement est effectué avec succès</p>
    <br> <br>
    <div class="form-group row">
      <div class="col-sm-12">
        <button type="reset" class="btn btn-primary block" id="Reset" size="15" (click)="Returne() ">Returne
        </button>
      </div>
    </div>
</form>
</div>
</body>